@media (max-width: 800px) {
  .placeholder-main-section {
    flex-direction: column;
    justify-content: center;
  }
  .placeholder-main-section .map {
    height: 30vh;
    width: auto;
    margin-top: 20px;
  }
  h1 {
    font-size: 2em;
  }
  .main-header {
    margin-top: 2vh;
  }
}
@media (min-width: 2500px) {
  h1 {
    font-size: 12em;
  }
}
.text-info {
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.text-info ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}
